{
    "useTabs": false,
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "bracketSpacing": false,
    "arrowParens": "always",
    "svelteSortOrder": "scripts-styles-markup",
    "svelteStrictMode": true,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte",
                "svelteSortOrder": "scripts-markup-styles",
                "svelteBracketNewLine": true
            }
        }
    ]
}
