.container {
    padding: 16px;
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
    min-height: 100%;

    &_home {
        padding-bottom: 56px;
        padding-bottom: calc(56px + env(safe-area-inset-bottom));
    }
}
