.head {
  display: flex;
  justify-content: space-between;
}

.head h2 {
  margin: 8px 0;
}

.picture {
  float: left;
  margin: 0 0 16px 16px;
  border-radius: 8px;
}

@media screen and (max-width: 576px) {
  .head {
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .picture {
    margin: 0;
  }
}

.contacts {
  display: flex;
}

.contacts a:not(:last-child) {
  margin-right: 8px;
}

.contact {
}

.contactPrint {
  display: none;
}

@media print {
  .contacts {
    flex-direction: column;
  }

  .contacts a {
    margin-top: 4px;
  }

  .contact {
    display: none;
  }

  .contactPrint {
    display: inline
  }

  .picture {
    display: none;
  }
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 0 4px;
}

.headline a {
  color: #000;
}

.dates {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}

.experience {
  margin-left: 4px;
  opacity: 0.5;
}

.notes {
  padding: 16px;
  max-width: 600px;
  margin: auto;
}

.notes h4 {
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.7;
}

.notes p + .notes p {
  margin-top: 4px;
}

.notes li + .notes li {
  margin-top: 4px;
}

.notes ul {
  padding-left: 20px;
  margin: 4px 0;
}

.experienceInfo {
  opacity: 0.6;
  list-style-type: "- ";
}

@media screen and (max-width: 576px) {
  .notes ul {
    padding-left: 16px;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
